body {
    
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*validation message color*/
span.field-validation-error {
    color: red !important;
}

.voffset{
    margin-top: 2px;

}
.voffset1 {
    margin-top: 5px;
}
.voffset2 {
    margin-top: 10px;
}
.voffset3 {
    margin-top: 20px;
}
.voffset4 {
    margin-top: 40px;
}
.voffset5 {
    margin-top: 80px;
}
/*Bootstrap overrides*/
.bg-light{
    background-color: #ff4342 !important;
    border-color: #ff4342 !important;
}
.navbar-light .navbar-brand{
    color: white !important;
}
.dropdown-menu{
    box-shadow:none;

}
body {
    font-size: 17px;
}
.body,
h1,
h2,
h3,
h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .navbar-brand {
    font-family: 'Zen Kurenaido', sans-serif !important;
    
}

.app-name{
    font-weight:bold;
}

.form-group{
    margin-bottom: 30px;
    font-size:17px;
    
}
.form-control{
    font-size:17px;
    height: 44px;
    border-radius:9px;

}
.form-control:focus{
    border-color:#2196f3;
    box-shadow:none;
    -webkit-box-shadow:none;
}


.btn{

    /*font-size:17px;
    padding:7px 20px;*/
    border-radius:9px;
}
/*concerts css*/
.concerts{
    list-style:none;
}
.concerts > li {

    position:relative;
    margin-bottom:30px;
}
.concerts > li .details {
    position: absolute;
    top: 0;
    left: 70px;
}

.concerts > li .date {
    background:red;
    color:white;
    text-align:center;
    width:60px;
    border-radius:8px;
    margin-top:10px;
}
.concerts > li .date .month {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
}

.concerts > li .date .day{
    background:#f7f7f7;
    color:#333;
    font-size:20px;
    padding:6px 12px;
}
.concerts > li .details .artist{
    font-weight:bold;
    display:block;
}
.concerts > li .details .genre{
    font-size:15px;

}

.concerts > li .actions {
    font-size:15px;
    display:none;
    

}
    .concerts > li .actions > a {
        text-decoration: none;
    }
.concerts > li:hover .actions{
    display:block;
}

.notifications{
    position:relative;
}
.notifications .badge {

    position: absolute;
    background-color:#a80a0a !important;
    left:12px;
    top:-6px;
}

/*popover styles*/
.popover-notifications{

}
.popover-notifications .popover-body{
    padding:0;
}
.popover-notifications ul.notifications {
    list-style: none;
    padding-left: 0;
}
.popover-notifications ul.notifications > li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.popover-notifications ul.notifications > li:last-child {
    border-bottom: none;
}
.popover-notifications ul.notifications .highlight{
    font-weight:bold;
}

/**/
.search-button{
    border-radius:0 9px 9px 0;
}


